html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(data="#{response}")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    |     
    script.
      $(document).ready(function () {
      $(".b1").click(function () {
      $.ajax({
      type: "GET",
      url: 'http://192.168.2.63:3200/customers/US?pagging=false&skip=0&limit=2',
      processData: false,
      contentType: 'application/json',
      success: function (response) {
        alert(response);
      },
      error: function (error) {
      console.log('error ' + error);
      }
      });
      });
      })
  body
    button.b1 Click Me!!!!!
    |     
    h1 Customer
    table.customers
      thead
        tr
          th Name
          th Email
          th Phone No
          th Id
          
      tbody
        if response.length
          each d in response
            tr
              td #{d.contactFirstName} #{d.contactLastName}
              td #{d.contactEmail}
              td #{d.contactPhone}
              td #{d.customerId}
    
    
              